
body
{
    font-family: Comforta, sans-serif;font-weight: 300;
}
.ImageBox
{
    position: relative;
    width: 100%;
    margin: auto;
    
}

.ImageBox img 
{
    width:1500px;
    height: 750px;
    display: block;
}


.ImageText 
{
  position: absolute;
    top:35%;
    left: 20%;
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.MenuBar
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.MenuBar li
{
    padding-top: 25px;
    padding-bottom: 25px;
}
.MenuBar a
{

    text-decoration: none;
    padding-left:40px;
    padding-right:40px;
    font-size: 27px;
    color: rgb(0, 0, 0);
}

.MenuBar li:hover
{
    background-color: rgb(160, 187, 232);
}

.thisPage
{
    background-color: rgb(186, 218, 250);
}

.Index-1_text
{
    background-color: rgb(162, 206, 245);
    padding :10px 10px;
    width: 100%;
    margin: auto;
    font-size: 19px;
    


    
}


 table
    {
        margin-top: 50px;
        width: 100%;
        border-collapse: collapse;
        background-color: rgb(255, 255, 255);
    }

    th, td
    {
        border: 1px solid #999;
        padding: 15px;
        text-align: center;
        
    }

    th
    {
        background-color: #dddddd;
        font-size: 20px;
    }

    td
    {
        font-size: 18px;
    }

    img
    {
        width: 100px;
        height: auto;
    }

    .hazard
    {
        width: 18%;
    }

    .risk
    {
        width: 25%;
    }

    .measure
    {
        width: 25%;
    }

    .symbol
    {
        width: 15%;
    }

    .source
    {
        width: 17%;
    }

    .div2
    {
        width: 100%;
        display: flex;
        text-align: left;
    }

    .div2 img
    {
        width: 1000px;
        height: 400px;
    }
    
    .div3 img
    {
        width: 500px;
        height: 500px;
    }




    
.page2-1{
    background-color: rgb(162, 206, 245);
    padding :10px 10px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.page2-1-text
{
    display: flex;
    column-gap: 50%;
}

.text_box
{
    background-color: rgb(238, 242, 250);
    margin: 12px 12px;
}